### Zinc gitignore
*.pyc

# IntelliJ project files
*.idea
*.iml
out
gen

# Sphinx autodoc build system
docs/_build

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# junit xml test metadata
junit.xml

# Others
.vscode/
.DS_Store